@model WebGallery.ViewModels.AppDetailViewModel

@{
    ViewBag.Title = "Windows Web App Gallery" + "-" + (Model.MetaData != null ? Model.MetaData.Name : Model.Submission.AppName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">

    @Html.Partial("_TopTabs_SearchBox")

    <div class="app-name">
        @{
            var appName = Model.MetaData != null ? Model.MetaData.Name : Model.Submission.AppName;
        }
        <lable>@appName</lable>
    </div>
    <div class="app-icon pull-left">
        <img src="@Model.Submission.LogoUrl" class="app-image" />
    </div>

    <div class="detail-list pull-right">
        <div>
            <span class="pull-left">
                <img src="~/content/images/free-icon.png" class="avaliable-free-image" />
            </span>
            <span class="pull-right">
                <a href="@Url.Action("install", new { appId = Model.Submission.Nickname })">
                    <img src="~/content/images/install-btn.jpg" />
                </a>
            </span>
        </div>
        <div>
            <span class="pull-left">Category:</span>
            <span class="pull-right">
                @{
                    var category1 = Model.Categories.FirstOrDefault(p => p.CategoryID.ToString() == Model.Submission.CategoryID1).Name;
                    @Html.ActionLink(category1, "Categorize", new { category = category1 });
                    <br />
                    if (!string.IsNullOrEmpty(Model.Submission.CategoryID2) && Model.Submission.CategoryID2 != "0" && Model.Submission.CategoryID1 != Model.Submission.CategoryID2)
                    {
                        var category2 = Model.Categories.FirstOrDefault(p => p.CategoryID.ToString() == Model.Submission.CategoryID2).Name;
                        @Html.ActionLink(category2, "Categorize", new { category = category2 });
                        <br />
                    }
                }
            </span>
        </div>
        <div>
            <span class="pull-left">Publisher:</span>
            <span class="pull-right">
                <a href="@Model.Submission.SubmittingEntityURL">@Model.Submission.SubmittingEntity</a>
            </span>
        </div>
        <div>
            <span class="pull-left">Version:</span>
            <span class="pull-right">@Model.Submission.Version</span>
        </div>
        <div>
            <span class="pull-left">Release Date:</span>
            <span class="pull-right">@Model.Submission.ReleaseDate.ToString("dd/MM/yyyy")</span>
        </div>
    </div>
    <div class="screenshot-link">
        @{
            var displayornot = Model.ScreenshotUrls.Any(m => !string.IsNullOrWhiteSpace(m)) ? string.Empty : "display:none";
        }
        <a id="screenshothref" style="@displayornot">applicaiton screenshots</a>
    </div>
    <div class="description">
        @{
            var description = Model.MetaData != null ? (Model.MetaData.Description.Trim() == "" ? Model.MetaData.BriefDescription : Model.MetaData.Description) : Model.Submission.BriefDescription;
        }
        <p>@description</p>
    </div>

    <div style="display:none" id="screenshot-block">
        <div class="popup-background"></div>
        <div class="popup-foreground">
            <img id="screenshot" />
            <div class="container-fluid">
                <a id="pre-btn" class="pull-left page-btn">< Previous</a>
                <a id="next-btn" class="pull-right page-btn">Next ></a>
            </div>
            <input type="image" class="popup-close-btn" src="~/content/images/close-btn.png" onclick="$(this).parent().parent().hide(); return false;" />
        </div>
    </div>

    <div id="shoturls">
        @{
            foreach (var url in Model.ScreenshotUrls)
            {
                if (!string.IsNullOrWhiteSpace(url))
                {
                    @Html.Hidden("screenshoturl", url);
                }
            }
        }
    </div>
</div>

@section Styles {
    @Styles.Render("~/css/app-detail")
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/js/app-detail")
}