@model WebGallery.ViewModels.AppGalleryViewModel

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var firstIndex = Model.AppList.Count() == 0 ? (Model.CurrentPage - 1) * 20 : (Model.CurrentPage - 1) * 20 + 1;
    var lastIndex = (Model.CurrentPage - 1) * 20 + Model.AppList.Count();
}

<div class="content">
    <div class="panel-search-header">
        @using (Html.BeginRouteForm(SiteRouteNames.Gallery))
        {
            <div>
                <h1>Windows Web App Gallery</h1>
                @Html.TextBox("keyword", Model.Keyword, new { id = "SearchText", placeholder = "Searh Apps" })
                <input type="image" src="~/content/images/search-btn.jpg" alt="Submit" />
            </div>
            <div>
                <span><strong>Show applications in</strong></span>
                <span>
                    @Html.DropDownList("supportedLanguage", new SelectList(Model.SupportedLanguages, "Value", "Key", Model.CurrentSupportedLanguage))
                </span>
                <span>Display results <strong>@firstIndex</strong> - <strong>@lastIndex</strong> for your searching , <strong>@Model.TotalCount</strong> in total</span>
            </div>
        }
    </div>

    @foreach (var app in Model.AppList)
    {
        var logourl = string.IsNullOrWhiteSpace(app.LogoUrl) ? "~/Content/images/no-logo.png" : app.LogoUrl;
        var description = app.BriefDescription.Length > 310 ? app.BriefDescription.Substring(0, 310) + "..." : app.BriefDescription;

        <div class="clearfix">
            <hr />
            <div class="panel-logo">
                <a href="@Url.RouteUrl(SiteRouteNames.App_View, new { appId = app.Nickname })"><img src=@Url.Content(logourl) /></a>
            </div>
            <div>
                <span class="app-title">@Html.RouteLink(app.AppName, SiteRouteNames.App_View, new { appId = app.Nickname })</span>
                <span class="version">@app.Version </span>
                <span class="release-date">Released at @app.ReleaseDate.ToShortDateString()</span>
            </div>
            <div>
                <p>
                    @description
                    <span>@Html.RouteLink("More Information", SiteRouteNames.App_View, new { appId = app.Nickname })</span>
                </p>
            </div>
        </div>
    }

    <div class="panel-pager">
        @Html.Hidden("currentpage", Model.CurrentPage)
        @Html.Hidden("totalpage", Model.TotalPage)
        @Html.RouteLink("Previous", SiteRouteNames.Gallery, new { keyword = Model.Keyword, supportedLanguage = Model.CurrentSupportedLanguage, page = Model.CurrentPage - 1 }, new { id = "prelink", @class = "prev-page" })
        @Html.RouteLink("Next", SiteRouteNames.Gallery, new { keyword = Model.Keyword, supportedLanguage = Model.CurrentSupportedLanguage, page = Model.CurrentPage + 1 }, new { id = "nextlink", @class = "next-page" })
    </div>
</div>

@section Styles {
    @Styles.Render("~/css/app-gallery")
}

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/js/app-gallery")
}