@model WebGallery.ViewModels.AppInstallViewModel

@{
    ViewBag.Title = "Install";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="install-container">
        <h3>Installs powered by the Microsoft Web Platform Installer</h3>
        <a href="http://webpihandler.azurewebsites.net/webpi.ashx?command=getinstaller&appid=@Model.Submission.Nickname"
           onclick="$(this).parent().hide(); $(this).parent().next().hide(); $(this).parent().next().next().removeClass('display'); $(this).parent().next().next().show()"></a>
        <p>By downloading and using the Web Platform Installer (Web PI), you agree to the <a href="http://go.microsoft.com/fwlink/?LinkID=195251" target="_blank">license terms</a> for the Web PI.</p>
        <p>Please leave this window open until the Microsoft Web Platform Installer starts. </p>
        <h4>System requirements</h4>
        <ul>
            <li>Supported Operating Systems are Windows 8, Windows 7, Windows Vista SP2, Windows XP SP3+, Windows Server 2003 SP2+, Windows Server 2008, Windows Server 2008 R2, Windows Server 2012.</li>
            <li>You must have a live Internet connection.</li>
            <li>You must have administrator privileges on your computer to run the Web Platform Installer.</li>
        </ul>
    </div>
    <div class="app-detail">
        <h2>You are about to install:</h2>
        <div>
            <img src="@Model.Submission.LogoUrl" />
            <h2>@Model.Metadata.Name</h2>
        </div>
        <p>@Model.Metadata.Description</p>
        <a href="@Url.RouteUrl(SiteRouteNames.App_View,new {appId = Model.Submission.Nickname })" target="_blank">More inforamtion</a>
    </div>
    <div class="while-installing">
        <h1>Launching Web Platform Installer. Please wait.</h1>
        <p>To return to the page you were viewing, please click <a href="@Url.RouteUrl(SiteRouteNames.App_View, new { appId = Model.Submission.Nickname })">here</a>.</p>
    </div>
</div>

@section Styles {
    @Styles.Render("~/css/app-install")
}