@model WebGallery.ViewModels.AppMineViewModel

@using WebGallery.Security;

@{
    ViewBag.Title = "Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Web App Gallery Submission Portal</h2>
    @if (!Model.HasSubmittership)
    {
        <div class="warning-panel">
            <p>If you have existing applications that are not visible, please contact <a href="mailto:appgal@microsoft.com">appgal@microsoft.com</a> and share the following information:</p>
            <ul>
                <li>Your Unique ID. You can see this near the bottom of this page (<a href="https://account.live.com/editprof.aspx" target="_blank">https://account.live.com/editprof.aspx</a>) on account.live.com.</li>
                <li>You email address that you used to login to access the submissions. Your email for this login is: <strong>@User.GetEmailAddress()</strong>.</li>
                <li>Your application names for all your applications if you manage more than one.</li>
            </ul>
        </div>
    }
    <div>
        <p>Welcome! From this page you can:</p>
        <ul>
            <li>@Html.RouteLink("Submit a new application", SiteRouteNames.App_Submit).</li>
            <li>Edit your previous submissions.</li>
            <li>Verify the validity of your application data.</li>
            <li>Designate co-owners for your submissions.</li>
            <li>Edit your @Html.RouteLink("contact information", SiteRouteNames.Profile).</li>
        </ul>
    </div>
    @if (Model.HasSubmittership)
    {
        <div class="submissions-table-container">
            <table cellpadding="0" cellspacing="0" class="submissions-table sortable">
                <thead>
                    <tr>
                        <th><a>App ID</a></th>
                        <th data-defaultsort='disabled'>Ver</th>
                        <th data-firstsort="desc"><a>ID</a></th>
                        <th data-defaultsort='disabled'>Status</th>
                        <th data-defaultsort='disabled'></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var index = 0; index < Model.MySubmissions.Count; index++)
                {
                    var submission = Model.MySubmissions[index];

                        <tr>
                            <td class="sortOnThisCol">@submission.Nickname</td>
                            <td>@submission.Version</td>
                            <td class="sortOnThisCol">@submission.SubmissionID</td>
                            <td>@submission.Status</td>
                            <td>
                                <a>actions</a>
                                <div class="actions-panel">
                                    <ul>
                                        <li>@Html.RouteLink("edit", SiteRouteNames.App_Edit, new { submissionId = submission.SubmissionID })</li>
                                        <li>@Html.RouteLink("verify", SiteRouteNames.App_Verify, new { submissionId = submission.SubmissionID })</li>
                                        <li>@Html.RouteLink("owners", SiteRouteNames.App_Owners, new { submissionId = submission.SubmissionID })</li>
                                        <li>@Html.RouteLink("clone", SiteRouteNames.App_Clone, new { submissionId = submission.SubmissionID })</li>
                                        <li>@Html.RouteLink("preview in gallery", SiteRouteNames.App_Preview, new { submissionId = submission.SubmissionID })</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/js/app-mine")
}

@section Styles {
    @Styles.Render("~/css/app-mine")
}