@model WebGallery.ViewModels.AppSubmitViewModel

@{
    ViewBag.Title = "Submit Web App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="appSubmitContainer" class="content">
    <form method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <h2 id="Introduction">@Resources.AppSubmit.SubmitTitle</h2>
        @Html.Partial("Submit_Introduction_Partial")
        @Html.Partial("Submit_Description_Partial", Model)
        @Html.Partial("Submit_Package_Partial", Model)

        <h3 id="TermsAndConditions">@Resources.AppSubmit.LegaleseSectionHeader</h3>
        <div class="submission-form-section">
            <p>@Html.Raw(Resources.AppSubmit.LegaleseIntro)</p>
            <p title="@Resources.AppSubmit.TermsAndConditionsTT" class="p-accept-conditions">
                @{
                    var checkedProperty = Model.Submission.AgreedToTerms ? "checked='checked'" : string.Empty;
                }
                <input type="checkbox" name="Submission.AgreedToTerms" id="AcceptTermsAndConditions" @checkedProperty value="@Model.Submission.AgreedToTerms" onchange="this.value = (this.checked) ? 'true' : 'false'" data-title="@Resources.AppSubmit.TermsAndConditionsValidationMessage" data-anchor="TermsAndConditions" data-target="labelAcceptTermsAndConditions" data-msg-required="@Resources.AppSubmit.RequiredText" />
                <label id="labelAcceptTermsAndConditions" for="AcceptTermsAndConditions" class="checkbox-label">@Html.Raw(Resources.AppSubmit.TermsAndConditionsLabel)</label>
            </p>
        </div>

        <h3 id="ReleaseNotes">@Resources.AppSubmit.AdditionalInfoSectionHeader</h3>
        <div class="submission-form-section">
            <p>
                <label for="AdditionalInfo" class="wider-textbox-label">@Resources.AppSubmit.AdditionalInfoLabel</label>
                <textarea name="Submission.AdditionalInfo" id="AdditionalInfo" rows="10" cols="20" class="wider-textbox" placeholder="@Resources.AppSubmit.AdditionalInfoWatermark">@Model.Submission.AdditionalInfo</textarea>
            </p>
        </div>

        <div id="validationEntriesContainer" style="color:Red;display:none;">
            <h3>@Resources.AppSubmit.ValidationSectionHeader</h3>
            <div class="submission-form-section validation-summary">
                <P>@Resources.AppSubmit.ValidationSummaryHeader</P>
                <ul></ul>
            </div>
        </div>

        <div class="submission-form-section">
            <input type="submit" value="@Resources.AppSubmit.SubmitAppButtonText" id="submitButton" class="submit-btn" onclick="return validate();" />
        </div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/js/app_submit")
}

@section Styles {
    @Styles.Render("~/css/app_submit")
}