@model WebGallery.ViewModels.AppSubmitViewModel

<h3 id="PackageInfo">Provide Package Information:</h3>
<strong>Package details are required for at least one language.</strong>
<div class="submission-form-section">
    <p>
        Package Information
        <input type="hidden" name="ProvidePackageInformation" id="ProvidePackageInformation"
               data-anchor="PackageInfo"
               data-msg-atLeastOnePackageCompleted="(*)"
               data-msg-d-atLeastOnePackageCompleted="Package information for at least one language is required."
               data-msg-eachPackageInfoCompleted="(*)"
               data-msg-d-eachPackageInfoCompleted="Package information for a language is not completed."/>
    </p>

    <div id="packageTabContainer" class="tab_xp tab_default">
        <div class="tab_header">
            @for (var i = 0; i < ViewBag.Languages.Count; i++)
            {
                var lang = ViewBag.Languages[i];
                var classNames = i == 0 ? "tab_active" : string.Empty;

                <span class="@classNames" data-language="@lang.Name"><span class="tab_outer"><span class="tab_inner"><span class="tab_tab">@lang.ShortDisplayName</span></span></span></span>
            }
        </div>
        <div class="tab_body">
            @for (var i = 0; i < ViewBag.Languages.Count; i++)
            {
                var lang = ViewBag.Languages[i];
                var package = Model.Packages.FirstOrDefault(p => string.Compare(p.Language, lang.Name, StringComparison.OrdinalIgnoreCase) == 0)
                    ?? new WebGallery.Models.Package {
                        PackageID = 0,
                        ArchitectureTypeID = 1, // 1 for X86, and only X86 is supported.
                        PackageURL = string.Empty,
                        StartPage = string.Empty,
                        SHA1Hash = string.Empty,
                        FileSize = 0,
                        Language = lang.Name,
                        SubmissionID = Model.Submission.SubmissionID
                    };
                var hideOrNot = i > 0 ? "style='display:none'" : string.Empty;
                var langX86 = string.Format("{0}_x86", lang.Name);
                //var langX64 = string.Format("{0}_x64", lang.Name); //As only x86 is supported

                <div id="outerPackageTabBody_@lang.Name" @Html.Raw(hideOrNot)>
                    <div class='package-caption'>@lang.CultureInfo.DisplayName</div>

                    <div id="innerPackageTabContainer_@lang.Name" class="hidden-inner-package-tab-container">
                        @*As only x86 is supported*@
                        @*<div id="innerPackageTabContainer_header_@lang.Name" style="display:none;">
                                <span id="innerPackageTabHeader_@langX86">X86</span>
                                <span id="innerPackageTabHeader_@langX64">X64</span>
                            </div>*@
                        <div id="innerPackageTabContainer_body_@lang.Name">
                            <div id="innerPackageTabBody_@langX86">
                                <input type="hidden" name="PackageLangArch_@langX86" value="@langX86" />
                                <input type="hidden" name="Packages[@i].PackageID" value="@package.PackageID" />
                                <input type="hidden" name="Packages[@i].ArchitectureTypeID" value="@package.ArchitectureTypeID" />
                                <input type="hidden" name="Packages[@i].FileSize" value="@package.FileSize" />
                                <input type="hidden" name="Packages[@i].Language" value="@package.Language" />
                                <input type="hidden" name="Packages[@i].SubmissionID" value="@package.SubmissionID" />

                                <label for="PackageLocationUrl_@langX86" class="textbox-label">Package Location URL<span id="packageLocationUrlCodePlexValidator_@langX86" title="Please follow codeplex format: http://YourApplicationName.codeplex.com/Project/Download/FileDownload.aspx?DownloadId=nnnnn" style="color:Red;display:none;">Invalid CodePlex URL</span></label>
                                <input type="text" name="Packages[@i].PackageUrl" id="PackageLocationUrl_@langX86" value="@package.PackageURL" class="textbox" placeholder="http://www.SubmittingEntity.org/app/package.zip" data-oldvalue="@package.PackageURL" data-title="Package Location URL (@lang.ShortDisplayName)" data-msg-url="unknown URL format."/>
                                <div class="explanation">
                                    <div class='explanation-inner'>The package location is a direct, publically accessible web URL to your application package (<strong>zip</strong> file). This package should include the MSDeploy files you created as part of the <a href="http://learn.iis.net/page.aspx/578/application-packaging-guide-for-the-windows-web-application-gallery/" title="Windows Web Application Gallery packaging guidelines" onclick="window.open(this.href, '_blank', ''); return false;" tabindex="9001">Windows Web Application Gallery packaging guidelines</a>.<br /><br />If your application is being hosted on CodePlex, a special URL for your package is required. Example:<br /><strong> http://YourApplicationName.codeplex.com/<br />Project/Download/FileDownload.aspx?<br />DownloadId=nnnnn</strong><br /> Substitute the name of the application at the beginning of the URL, and the DownloadID for the package in place of the <strong>nnnnn</strong>.</div>
                                </div>

                                <label for="StartPage_@langX86" class="textbox-label">Application Start Page URL</label>
                                <input type="text" name="Packages[@i].StartPage" id="StartPage_@langX86" value="@package.StartPage" title="Application Start Page URL (x86)" class="textbox" placeholder="/Start.htm" data-oldvalue="@package.StartPage"/>
                                <div class="explanation">
                                    <div class='explanation-inner'>Provide the relative URL from the site root for the first page to load after the application is installed. For example:<br />/start.htm, /default.aspx or /install.php.</div>
                                </div>

                                <label for="Sha1Hash_@langX86" class="textbox-label">SHA-1 Hash</label>
                                <input type="text" name="Packages[@i].SHA1Hash" id="Sha1Hash_@langX86" value="@package.SHA1Hash" title="SHA-1 Hash (x86)" class="textbox" placeholder="00000000000000000000000000000000" data-oldvalue="@package.SHA1Hash"/>
                                <div class="explanation">
                                    <div class='explanation-inner'>Provide the SHA-1 hash associated with the application packaged located at your package location URL.  Software to calculate hash values can be downloaded <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=B3C93558-31B7-47E2-A663-7365C1686C08&displaylang=en" title="Hash value calculation utility" onclick="window.open(this.href, '_blank', ''); return false;" tabindex="9001">here</a>. As stated in the <a href="http://learn.iis.net/page.aspx/578/application-packaging-guide-for-the-windows-web-application-gallery/" title="Web Application Packaging Guidelines" onclick="window.open(this.href, '_blank', ''); return false;" tabindex="9001">Web Application Packaging Walkthrough and Developer Guide</a> any changes to the package after submission will render the submission and the package invalid.</div>
                                </div>
                                <div class="clearfix">&nbsp;</div>

                                @*As only x86 is supported*@
                                @*<input type="button" name="copyTo_@langX86" value="Copy information to x64 tab" onclick="copyToX64('@langX86'); return false; WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('copyTo_@langX86', '', true, '', '', false, true))" id="copyTo_@langX86" class="copy-package" />*@

                                <input type="button" value="Copy values from" onclick="copyValues(this)" class="copy-from-package-btn" />
                                <select name="packageLanguageDD_@langX86" id="packageLanguageDD_@langX86" class="copy-from-package-dd">
                                    @foreach (var l86 in ViewBag.Languages)
                                    {
                                        <option value="@l86.Name">@l86.ShortDisplayName</option>
                                    }
                                </select>
                                <input type="button" value="Clear values" onclick="clearValues(this)" class="clear-package-btn" />
                                <div class="clearfix">&nbsp;</div>
                            </div>

                            @*As only x86 is supported*@
                            @*<div id="innerPackageTabBody_@langX64" style="display:none">
        <input type="hidden" name="package_@langX64" id="package_@langX64" value="@langX64" />
        <input type="hidden" name="packageID_@langX64" id="packageID_@langX64" />
        <input type="hidden" name="fileSize_@langX64" id="fileSize_@langX64" />
        <input type="hidden" name="architectureTypeName_@langX64" id="architectureTypeName_@langX64" value="x64" />

        <label for="PackageLocationUrl_@langX64" class="textbox-label">Package Location URL<span id="packageLocationUrlValidator_@langX64" title="the format of this URL is not recognized" style="color:Red;display:none;">unknown URL format</span><span id="packageLocationUrlCodePlexValidator_@langX64" title="Please follow codeplex format: http://YourApplicationName.codeplex.com/Project/Download/FileDownload.aspx?DownloadId=nnnnn" style="color:Red;display:none;">Invalid CodePlex URL</span></label>
        <input name="PackageLocationUrl_@langX64" type="text" id="PackageLocationUrl_@langX64" title="Package Location URL (x64)" class="textbox" placeholder="http://www.SubmittingEntity.org/app/package.zip" />
        <div class="explanation">
            <div class='explanation-inner'>The package location is a direct, publically accessible web URL to your application package (<strong>zip</strong> file). This package should include the MSDeploy files you created as part of the <a href="http://learn.iis.net/page.aspx/578/application-packaging-guide-for-the-windows-web-application-gallery/" title="Windows Web Application Gallery packaging guidelines" onclick="window.open(this.href, '_blank', ''); return false;" tabindex="9001">Windows Web Application Gallery packaging guidelines</a>.<br /><br />If your application is being hosted on CodePlex, a special URL for your package is required. Example:<br /><strong> http://YourApplicationName.codeplex.com/<br />Project/Download/FileDownload.aspx?<br />DownloadId=nnnnn</strong><br /> Substitute the name of the application at the beginning of the URL, and the DownloadID for the package in place of the <strong>nnnnn</strong>.</div>
        </div>

        <label for="applicationStartPageUrlTB_@langX64" class="textbox-label">Application Start Page URL</label>
        <input name="applicationStartPageUrlTB_@langX64" type="text" id="applicationStartPageUrlTB_@langX64" title="Application Start Page URL (x64)" class="textbox" placeholder="/Start.htm" />
        <div class="explanation">
            <div class='explanation-inner'>Provide the relative URL from the site root for the first page to load after the application is installed. For example:<br />/start.htm, /default.aspx or /install.php.</div>
        </div>

        <label for="Sha1Hash_@langX64" class="textbox-label">SHA-1 Hash</label>
        <input name="Sha1Hash_@langX64" type="text" id="Sha1Hash_@langX64" title="SHA-1 Hash (x64)" class="textbox" placeholder="00000000000000000000000000000000" />
        <div class="explanation">
            <div class='explanation-inner'>Provide the SHA-1 hash associated with the application packaged located at your package location URL.  Software to calculate hash values can be downloaded <a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=B3C93558-31B7-47E2-A663-7365C1686C08&displaylang=en" title="Hash value calculation utility" onclick="window.open(this.href, '_blank', ''); return false;" tabindex="9001">here</a>. As stated in the <a href="http://learn.iis.net/page.aspx/578/application-packaging-guide-for-the-windows-web-application-gallery/" title="Web Application Packaging Guidelines" onclick="window.open(this.href, '_blank', ''); return false;" tabindex="9001">Web Application Packaging Walkthrough and Developer Guide</a> any changes to the package after submission will render the submission and the package invalid.</div>
        </div>
        <div class="clearfix">&nbsp;</div>

        <input type="button" name="copyTo_@langX64" value="Copy information to x86 tab" onclick="copyToX86('@langX64'); return false; WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('copyTo_@langX64', '', true, '', '', false, true))" id="copyTo_@langX64" class="copy-package" />
        <input type="button" name="copyFrom_@langX64" value="Copy values from" onclick="copyValuesFromPackage('@lang.Name', '@langX64'); return false; WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('copyFrom_@langX64', '', true, '', '', false, true))" id="copyFrom_@langX64" class="copy-from-package-btn" />
        <select name="packageLanguageDD_@langX64" id="packageLanguageDD_@langX64" class="copy-from-package-language-list" onchange="DoValidation();">
            @foreach (var lang64 in Model.Languages)
            {
                <option value="@lang64.Name">@lang64.ShortDisplayName</option>
            }
        </select>
        <input type="button" name="clear_@langX64" value="Clear Values" onclick="clearPackageValues('@lang.Name'); return false; WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('clear_@langX64', '', true, '', '', false, true))" id="clear_@langX64" class="clear-package-btn" />
        <div class="clearfix">&nbsp;</div>
    </div>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="packageChangeImbalanceWarningPanel" class="package-change-imbalance-warning" >
        <p>Warning: Some but not all package language details have changed.</p>
        <div>
            <table cellpadding="0" cellspacing="0">
                <tbody>
                    @foreach (var lang in ViewBag.Languages)
                    {
                        var langX86 = string.Format("{0}_x86", lang.Name);
                        //var langX64 = string.Format("{0}_x64", lang.Name); // as only x86 is supported
                        <tr>
                            <td>@lang.ShortDisplayName</td>
                            <td><span id="packageChanged_@langX86">modified</span><span id="packageUnchanged_@langX86" class="unchanged-warning-row">unchanged</span><span id="packageNotSet_@langX86">---</span><span id="packageNewlySet_@langX86">new</span></td>
                        </tr>
                        @*<tr class="x64-warning-row">
                            <td>@lang.ShortDisplayName</td>
                            <td><span id="packageChangedLBL_@langX64">modified</span><span id="packageUnchangedLBL_@langX64" class="unchanged-warning-row">unchanged</span><span id="packageNotSetLBL_@langX64">---</span><span id="packageNewlySetLBL_@langX64">new</span></td>
                        </tr>*@
                    }
                </tbody>
            </table>
        </div>
    </div>

    <table>
        <caption id="captionDependencies">Dependencies<a id="clearDependencies" href="javascript:void(0)" onclick="clearDependencies()" class="clear-dependencies">clear selections</a></caption>
        <thead>
            <tr>
                <th>
                    Frameworks<br />and Runtimes
                    <input type="hidden" name="Dependencies" id="Dependencies" data-anchor="captionDependencies" data-title="Frameworks and Runtimes" data-msg-required="(*)"/>
                </th>
                <th>Database</th>
                <th>Web Server<br />Extensions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select size="7" name="Submission.FrameworkOrRuntimeID" id="FrameworksAndRuntimes" onchange="autoSelectMicrosoftSqlDriverForPhp()">
                        @foreach (var f in ViewBag.Frameworks)
                        {
                            if (f.FrameworkOrRuntimeID == Model.Submission.FrameworkOrRuntimeID)
                            {
                                <option selected="selected" value="@f.FrameworkOrRuntimeID">@f.Name</option>
                            }
                            else
                            {
                                <option value="@f.FrameworkOrRuntimeID">@f.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <select size="7" name="Submission.DatabaseServerIDs" id="DatabaseServers" multiple="multiple" onchange="autoSelectMicrosoftSqlDriverForPhp()">                        
                        @foreach (var db in ViewBag.DatabaseServers)
                        {
                            var dbServerIds = from idStr in (Model.Submission.DatabaseServerIDs??string.Empty).Split('|')
                                              select idStr.AsInt();
                            if (dbServerIds.Any(id=> id == (db.DatabaseServerID)))
                            {
                                <option selected="selected" value="@db.DatabaseServerID">@db.Name</option>
                            }
                            else
                            {
                                <option value="@db.DatabaseServerID">@db.Name</option>
                            }
                        }
                    </select>
                </td>
                <td>
                    <select size="7" name="Submission.WebServerExtensionIDs" id="WebServerExtensions" multiple="multiple">
                        @foreach (var extension in ViewBag.WebServerExtensions)
                        {
                            var webServerExtensionIDs = Model.Submission.WebServerExtensionIDs ?? string.Empty;
                            var extensionIds = from idStr in webServerExtensionIDs.Split('|')
                                               select idStr.AsInt();
                            if (extensionIds.Any(id => id == extension.WebServerExtensionID))
                            {
                                <option selected="selected" value="@extension.WebServerExtensionID">@extension.Name</option>
                            }
                            else
                            {
                                <option value="@extension.WebServerExtensionID">@extension.Name</option>
                            }
                        }
                    </select>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Select one<br />only</td>
                <td>Use Ctrl/Cmd key<br />to select more than one</td>
                <td>Use Ctrl/Cmd key<br />to select more than one</td>
            </tr>
        </tfoot>
    </table>
</div>