@model WebGallery.ViewModels.AppVerifyViewModel

@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @if (Model.ShowThanks)
    {
        <h2>@Resources.Submit.StatusIntro</h2>
    }
    <p>@Resources.Submit.StatusCheckingIntro</p>

    @Html.AntiForgeryToken()
    <div class="validation-panel">
        <h3>URLs</h3>
        <ul id="ulUrls">
            @foreach (var item in Model.Urls)
            {
                var globalizatinoStr = HttpContext.GetGlobalResourceObject("Submit", item.KeyInGlobalizationResources);
                var lang = string.IsNullOrEmpty(item.LanguageAndCountryCode) ? string.Empty : $" ({item.LanguageAndCountryCode})";
                var itemStr = $"{globalizatinoStr}{lang}";
                <li data-name="@item.Name" data-value="@item.Value" data-type="@item.Type" data-lang="@item.LanguageAndCountryCode">@itemStr</li>
            }
        </ul>
        <h3>Packages</h3>
        <ul id="ulPackages">
            @foreach (var item in Model.Packages)
            {
                var globalizatinoStr = HttpContext.GetGlobalResourceObject("Submit", item.KeyInGlobalizationResources);
                var lang = string.IsNullOrEmpty(item.LanguageAndCountryCode) ? string.Empty : $" ({item.LanguageAndCountryCode})";
                var itemStr = $"{globalizatinoStr}{lang}";
                <li data-name="@item.Name" data-value="@item.Value" data-type="@item.Type" data-lang="@item.LanguageAndCountryCode">@itemStr</li>
            }
        </ul>
        <h3>Images</h3>
        <ul id="ulImages">
            @foreach (var item in Model.Images)
            {
                <li data-name="@item.Name" data-value="@item.Value" data-type="@item.Type" data-lang="@item.LanguageAndCountryCode">@HttpContext.GetGlobalResourceObject("Submit", item.KeyInGlobalizationResources)</li>
            }
        </ul>
    </div>
    <div id="panelFail" style="display:none">
        @Html.ActionLink("Go back to fix these errors", "edit", new { id = Model.Submission.SubmissionID }, new { target = "_blank", })
    </div>
    <div id="panelPass" style="display:none">
        @using (Html.BeginForm("MoveToTesting", "app", FormMethod.Post))
        {
            <input type="hidden" id="hiddenSubmissionId" name="submissionId" value="@Model.Submission.SubmissionID" />
            <p>
                This app has passed verification, you can submit it now for further testing. If you do so, this submission will be locked from modification for a while until we finish the testing.
            </p>
            <input type="submit" value="Ready for further testing" />
            @Html.ActionLink("Not now, I'll submit this later", "mine")
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/js/app-verify")
}

@section Styles {
    @Styles.Render("~/css/app-verify")
}