@model WebGallery.ViewModels.AppVerifyViewModel

@{
    ViewBag.Title = "Verify";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    @if (Model.ShowThanks)
    {
        <h2>@Resources.AppVerify.StatusIntro</h2>
    }
    <p>@Resources.AppVerify.StatusCheckingIntro</p>

    @Html.AntiForgeryToken()
    <div class="validation-panel">
        <h3>URLs</h3>
        <ul id="ulUrls">
            @foreach (var item in Model.Urls)
            {
                var globalizatinoStr = HttpContext.GetGlobalResourceObject("AppVerify", item.KeyInGlobalizationResources);
                var lang = string.IsNullOrEmpty(item.LanguageAndCountryCode) ? string.Empty : $" ({item.LanguageAndCountryCode})";
                var itemStr = $"{globalizatinoStr}{lang}";
                <li data-name="@item.Name" data-value="@item.Value" data-type="@item.Type" data-lang="@item.LanguageAndCountryCode">@itemStr</li>
            }
        </ul>
        <h3>Images</h3>
        <ul id="ulImages">
            @foreach (var item in Model.Images)
            {
                <li data-name="@item.Name" data-value="@item.Value" data-type="@item.Type" data-lang="@item.LanguageAndCountryCode">@HttpContext.GetGlobalResourceObject("AppVerify", item.KeyInGlobalizationResources)</li>
            }
        </ul>
        <h3>Packages</h3>
        <ul id="ulPackages">
            @foreach (var item in Model.Packages)
            {
                <li data-name="@item.Name" data-value="@item.Value" data-type="@item.Type" data-lang="@item.LanguageAndCountryCode">[@item.LanguageAndCountryCode] - @item.Name</li>
            }
        </ul>
    </div>
    <div id="panelFail" style="display:none">
        @Html.RouteLink("Go to fix these errors", SiteRouteNames.App_Edit, new { submissionId = Model.Submission.SubmissionID }, new { target = "_blank", })
    </div>
    <div id="panelPass" style="display:none">
        @using (Html.BeginRouteForm(SiteRouteNames.App_Publish, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="hiddenSubmissionId" name="submissionId" value="@Model.Submission.SubmissionID" />
            if (ViewBag.IsFeedApp == true)
            {
                <p>
                    This app has passed verification, you can publish it to the <a href="@Url.RouteUrl(SiteRouteNames.Gallery)" target="_blank">Gallery</a> now.
                </p>
            }

            if (!ViewBag.IsFeedApp == true && ViewBag.IsAzureApp == true)
            {
                <p>
                    This app has passed verification, you can submit for us to publish it now.
                </p>
            }

            if (ViewBag.IsFeedApp == true || ViewBag.IsAzureApp == true)
            {
                <input type="submit" value="Publish" />
                @Html.RouteLink("Not now, I'll publish this later", SiteRouteNames.Portal)
            }
            else
            {
                @Html.RouteLink("Go to my portal", SiteRouteNames.Portal)
            }
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/js/app-verify")
}

@section Styles {
    @Styles.Render("~/css/app-verify")
}