@model WebGallery.ViewModels.InvitationSendViewModel

@{
    ViewBag.Title = "Already Been Invited";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Already Been Invited</h2>
    <p>You've already sent an ownership invitation to @Model.FirstName @Model.LastName for the app (@Html.RouteLink(Model.Submission.Nickname, SiteRouteNames.App_Preview, new { submissionId = Model.Submission.SubmissionID }). Please wait for his/her response.</p>
    <ul>
        <li>@Html.RouteLink("Re-assign an owner", SiteRouteNames.App_Owners, new { submissionId = Model.Submission.SubmissionID })</li>
        <li>@Html.RouteLink("Go to my portal", SiteRouteNames.Portal)</li>
    </ul>
</div>