@model WebGallery.ViewModels.InvitationSendViewModel

@{
    ViewBag.Title = "Already Has Ownership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Already Has Ownership</h2>
    <p>The invitee (@Model.FirstName @Model.LastName) is already an owner of the app (@Html.RouteLink(Model.Submission.Nickname, SiteRouteNames.App_Preview, new { submissionId = Model.Submission.SubmissionID })).</p>
    <ul>
        <li>@Html.RouteLink("Re-assign an owner", SiteRouteNames.App_Owners, new { submissionId = Model.Submission.SubmissionID })</li>
        <li>@Html.RouteLink("Go to my portal", SiteRouteNames.Portal)</li>
    </ul>
</div>