@model WebGallery.ViewModels.InvitationDetailViewModel

@{
    ViewBag.Title = "Ownership Invitation Expired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>Ownership Invitation Expired</h2>
    <p>@Resources.InvitationDetail.OwnershipRequestIntro</p>
    <div class="main-panel">
        <p>
            <strong>@Resources.InvitationDetail.AppIDLabel</strong>: @Model.Submission.Nickname<br />
            <strong>@Resources.InvitationDetail.VersionLabel</strong>: @Model.Submission.Version
        </p>
        <p>@Resources.InvitationDetail.OwnershipRequestExpiredExplanation</p>
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="@Resources.InvitationDetail.DeleteOwnershipRequestButtonText" formmethod="post" formaction="@Url.RouteUrl(SiteRouteNames.Invitation_Decline, new { invitationGuid = Model.Invitation.RequestID })" />
            }
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/css/invitation-detail")
}