@model WebGallery.ViewModels.AppSubmissionViewModel

<h2 id="ReleaseNotes">Provide Release Notes:</h2>
<div class="submission-form-section">
    <input type="hidden" name="Submission.SubmissionID" id="SubmissionId" value="@Model.Submission.SubmissionID"/>
    <div class="clearing">
        <label for="AppId" class="textbox-label">App ID</label>
        <input type="text" name="Submission.Nickname" id="AppId" value="@Model.Submission.Nickname" class="textbox" placeholder="Application" 
               data-title="App Id" 
               data-msg-required="(*)"
               data-msg-alphanumeric="Alphanumeric only."
               data-msg-d-alphanumeric="can only use letters and digits."
               data-msg-unique="Not unique, please change. The combination of the App ID, Version and Language you have provided are already in use by another submission. To make this submission unique you will need to change at least one of these values. Typically, the best solution is modify the App ID you have chosen."
               data-msg-d-unique="App ID, Version and Language are used by another submission. Modify the App ID or the Version."/>
        <div class="explanation">
            <div class="explanation-inner">Provide an ID for your application. Use only letters and digits, no spaces or punctuation. This ID is used as the page name for your application in the <a href="https://www.microsoft.com/web/gallery/default.aspx" title="Windows Web App Gallery" onclick="window.open(this.href, '_blank', ''); return false;" tabindex="9001">Windows Web App Gallery</a>.<br /><br />You will not be able to change this ID with future edits of your application such as for version updates.</div>
        </div>
    </div>
    <div class="clearing">
        <label for="Version" class="textbox-label">Version</label>
        <input type="text" name="Submission.Version" id="Version" value="@Model.Submission.Version" class="textbox" placeholder="1.2.3.4" data-title="Version" data-msg-required="(*)"/>
    </div>
    <div class="clearing">
        <label for="SubmittingEntity" class="textbox-label">Submitting Entity</label>
        <input type="text" name="Submission.SubmittingEntity" id="SubmittingEntity" value="@Model.Submission.SubmittingEntity" class="textbox" data-title="Submitting Entity" data-msg-required="(*)"/>
        <div class="explanation">
            <div class="explanation-inner">Submitting Entity is the name of the entity submitting the application.</div>
        </div>
    </div>
    <div class="clearing">
        <label for="SubmittingEntityURL" class="textbox-label">Submitting Entity URL</label>
        <input type="text" name="Submission.SubmittingEntityURL" id="SubmittingEntityURL" value="@Model.Submission.SubmittingEntityURL" class="textbox" placeholder="http://www.SubmittingEntity.org" 
               data-title="Submitting Entity URL" 
               data-msg-required="(*)"
               data-msg-url="unknown URL format."/>
        <div class="explanation">
            <div class="explanation-inner">Provide the URL for the primary website for the Submitting Entity.</div>
        </div>
    </div>
    <div class="clearing">
        <label for="AppWebSiteURL" class="textbox-label">App Web Site URL</label>
        <input type="text" name="Submission.AppURL" id="AppWebSiteURL" value="@Model.Submission.AppURL" class="textbox" placeholder="http://www.SubmittingEntity.org/app" 
               data-title="App Web Site URL" 
               data-msg-required="(*)" 
               data-msg-url="unknown URL format."/>
        <div class="explanation">
            <div class="explanation-inner">Provide an URL to your application's website homepage.</div>
        </div>
    </div>
    <div class="clearing">
        <label for="SupportURL" class="textbox-label">Support URL</label>
        <input type="text" name="Submission.SupportURL" id="SupportURL" value="@Model.Submission.SupportURL" class="textbox" placeholder="http://www.SubmittingEntity.org/support" 
               data-title="Support URL" 
               data-msg-required="(*)"
               data-msg-url="unknown URL format."/>
        <div class="explanation">
            <div class="explanation-inner">The <a href="http://learn.iis.net/page.aspx/605/web-application-gallery-principles/" title="Windows Web App Gallery Principles" onclick="window.open(this.href, '_blank', ''); return false;" tabindex="9001">Windows Web App Gallery Principles</a> require your application to provide free web based support to customers.</div>
        </div>
    </div>
    <div class="clearing">
        <label for="ReleaseDate" class="textbox-label">Release Date</label>
        <input type="text" name="Submission.ReleaseDate" id="ReleaseDate" value="@Model.Submission.ReleaseDate.ToString("M/d/yyyy")" class="textbox datefield" placeholder="@DateTime.Now.ToString("M/d/yyyy")" data-title="Release Date" data-msg-required="(*)"/>
        <div class="explanation">
            <div class="explanation-inner">The date that the submitted application has been or will be publically available.</div>
        </div>
    </div>
    <div class="clearing">
        <label for="PrimaryCategory" class="dd-label">Primary Category</label>
        <select name="Submission.CategoryID1" id="PrimaryCategory" class="dropdown dd-primary-category" data-title="Primary Category" data-msg-required="(*)">
            <option value="">Pick one</option>
            @foreach (var c in ViewBag.Categories)
            {
                if (c.CategoryID == Model.Submission.CategoryID1.AsInt())
                {
                    <option selected="selected" value="@c.CategoryID">@c.Name</option>
                }
                else
                {
                    <option value="@c.CategoryID">@c.Name</option>
                }
            }
        </select>
        <div class="explanation">
            <div class="explanation-inner">Select the primary category for your application. Application may fall into more one or more categories. You have the option of associating your application with a second category.</div>
        </div>
    </div>
    <div class="clearing">
        <label for="SecondaryCategory" class="dd-label">Secondary Category</label>
        <select name="Submission.CategoryID2" id="SecondaryCategory" class="dropdown dd-secondary-category">
            <option value="">None</option>
            @foreach (var c in ViewBag.Categories)
            {
                if (c.CategoryID == Model.Submission.CategoryID1.AsInt())
                {
                    <option selected="selected" value="@c.CategoryID">@c.Name</option>
                }
                else
                {
                    <option value="@c.CategoryID">@c.Name</option>
                }
            }
        </select>
        <div class="explanation">
            <div class="explanation-inner">Select a secondary category for your application.</div>
        </div>
    </div>
    <div class="clearing">
        <label for="ProfessionalServicesURL" class="textbox-label">Professional Services URL</label>
        <input type="text" name="Submission.ProfessionalServicesURL" id="ProfessionalServicesURL" value="@Model.Submission.ProfessionalServicesURL" class="textbox" placeholder="http://www.services.org/services.html" data-title="Professional Services URL" data-msg-url="unknown URL format."/>
        <div class="explanation">
            <div class="explanation-inner">Provide an URL to the Web page where you promote your commercial services.</div>
        </div>
    </div>
    <div class="clearing">
        <label for="CommercialProductURL" class="textbox-label">Commercial Product URL</label>
        <input type="text" name="Submission.CommercialProductURL" id="CommercialProductURL" value="@Model.Submission.CommercialProductURL" class="textbox" placeholder="http://www.SubmittingEntity.org/professionalversion.html" data-title="Commercial Product URL" data-msg-url="unknown URL format."/>
        <div class="explanation">
            <div class="explanation-inner">Provide an URL to the Web page where you promote your commercial products.</div>
        </div>
    </div>
    <div class="image-set">
        <div class="tab_xp tab_default">
            <div class="tab_header">
                <span class="tab_active"><span class="tab_outer"><span class="tab_inner"><span class="tab_tab">Images</span></span></span></span>
            </div>
            <div class="tab_body">
                <div>
                    @{ 
                        var logo = Model.Logo ?? new WebGallery.Models.ProductOrAppImage {
                            ImageID = 0,
                            ImageGUID = Guid.Empty
                        };
                    }
                    <label for="logoImageFU" class="file-upload-label">Logo</label>
                    <div id="logoImageFUWrapperPanel" class="file-upload-wrapper" style="display:none">
                        <input type="file" name="logoImageFU" id="logoImageFU" title="Logo" class="file-upload" />
                    </div>
                    <div class="explanation">
                        <div class="explanation-inner">Your logo must be no more than 200px in width or height and provided in PNG format.</div>
                    </div>
                    <input type="hidden" name="logoImageGUID" id="logoImageGUID" value="@logo.ImageGUID" />

                    <span id="logoImageReqValidator" title="required" class="validator-inline" style="color:Red;display:none;">*</span>
                    <a onclick="clearLogo(); return false;" id="logoImageReset" class="clear-image" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('logoImageReset', '', true, '', '', false, true))">reset</a>

                    <div id="logoImageFUPanel" class="submitted-panel">
                        <input type="hidden" id="setLogoImage" name="setLogoImage" value="0" title="" />
                        <a id="logoTrigger" title="View last submission" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('logoTrigger', '', true, '', '', false, true))">View last submission</a>
                        /
                        <a onclick="replaceLogo(); return false;" id="needNewLogoTrigger" title="Submit a different logo" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('needNewLogoTrigger', '', true, '', '', false, true))">Submit a different logo</a>
                        <div id="logoPopup" class="submitted-popup" >
                            <img id="logoImg" src="https://www.microsoft.com/web/handlers/webpi.ashx?command=getimage&amp;guid=@logo.ImageGUID" style="border-width:1px;" />
                            <input type="image" name="logoOK" id="logoOK" class="submitted-image-close-btn" src="~/content/images/close-btn.png" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('logoOK', '', true, '', '', false, false))" style="border-width:0px;" />
                        </div>
                    </div>

                    <p class="screenshots-title">Screenshots (optional)</p>
                    <label for="screenshotImage1FU" class="file-upload-label">1</label>
                    <div id="screenshotImageFU1WrapperPanel" class="file-upload-wrapper">
                        <input type="file" name="screenshotImage1FU" id="screenshotImage1FU" title="Screenshot Image 1" class="file-upload" />
                    </div>
                    <div class="explanation">
                        <div class="explanation-inner">Add up to 6 screenshots of your application. Screenshots should be no more than 800px in width or 600px in height and provided in PNG format.</div>
                    </div>
                    <input type="hidden" name="screenshotImage1GUID" id="screenshotImage1GUID" />
                    <a onclick="clearScreenshot(1); return false;" id="screenshotImage1Reset" class="clear-image" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('screenshotImage1Reset', '', true, '', '', false, true))">reset</a>

                    <label for="screenshotImage2FU" class="file-upload-label">2</label>
                    <div id="screenshotImageFU2WrapperPanel" class="file-upload-wrapper">
                        <input type="file" name="screenshotImage2FU" id="screenshotImage2FU" title="Screenshot Image 2" class="file-upload" />
                    </div>
                    <input type="hidden" name="screenshotImage2GUID" id="screenshotImage2GUID" />
                    <a onclick="clearScreenshot(2); return false;" id="screenshotImage2Reset" class="clear-image" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('screenshotImage2Reset', '', true, '', '', false, true))">reset</a>

                    <label for="screenshotImage3FU" class="file-upload-label">3</label>
                    <div id="screenshotImageFU3WrapperPanel" class="file-upload-wrapper">
                        <input type="file" name="screenshotImage3FU" id="screenshotImage3FU" title="Screenshot Image 3" class="file-upload" />
                    </div>
                    <input type="hidden" name="screenshotImage3GUID" id="screenshotImage3GUID" />
                    <a onclick="clearScreenshot(3); return false;" id="screenshotImage3Reset" class="clear-image" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('screenshotImage3Reset', '', true, '', '', false, true))">reset</a>

                    <label for="screenshotImage4FU" class="file-upload-label">4</label>
                    <div id="screenshotImageFU4WrapperPanel" class="file-upload-wrapper">
                        <input type="file" name="screenshotImage4FU" id="screenshotImage4FU" title="Screenshot Image 4" class="file-upload" />
                    </div>
                    <input type="hidden" name="screenshotImage4GUID" id="screenshotImage4GUID" />
                    <a onclick="clearScreenshot(4); return false;" id="screenshotImage4Reset" class="clear-image" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('screenshotImage4Reset', '', true, '', '', false, true))">reset</a>

                    <label for="screenshotImage5FU" class="file-upload-label">5</label>
                    <div id="screenshotImageFU5WrapperPanel" class="file-upload-wrapper">
                        <input type="file" name="screenshotImage5FU" id="screenshotImage5FU" title="Screenshot Image 5" class="file-upload" />
                    </div>
                    <input type="hidden" name="screenshotImage5GUID" id="screenshotImage5GUID" />
                    <a onclick="clearScreenshot(5); return false;" id="screenshotImage5Reset" class="clear-image" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('screenshotImage5Reset', '', true, '', '', false, true))">reset</a>

                    <label for="screenshotImage6FU" class="file-upload-label">6</label>
                    <div id="screenshotImageFU6WrapperPanel" class="file-upload-wrapper">
                        <input type="file" name="screenshotImage6FU" id="screenshotImage6FU" title="Screenshot Image 6" class="file-upload" />
                    </div>
                    <input type="hidden" name="screenshotImage6GUID" id="screenshotImage6GUID" />
                    <a onclick="clearScreenshot(6); return false;" id="screenshotImage6Reset" class="clear-image" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions('screenshotImage6Reset', '', true, '', '', false, true))">reset</a>

                    <div class="clearing">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>