@using WebGallery.Extensions;
@model IList<WebGallery.Models.Submission>

@if (Model == null || Model.Count() == 0)
{
    <p>There are no submissions related to this application.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>App ID</th>
                <th>Version</th>
                <th>Author</th>
                <th>Created</th>
                <th>Updated</th>
                <th>ID</th>
                <th>Status</th>
                <th>Inactivate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var submission in Model)
                {
                    var creatDate = submission.Created.HasValue ? submission.Created.Value.ToShortDateString() : "---";
                    var updatedDate = submission.Updated.HasValue ? submission.Updated.Value.ToShortDateString() : "---";

                <tr>
                    <td data-toggle="tooltip" title="@submission.Nickname">@submission.Nickname.ToShort(10)</td>
                    <td data-toggle="tooltip" title="@submission.Version">@submission.Version.ToShort(12)</td>
                    <td data-toggle="tooltip" title="@submission.SubmittingEntity">@submission.SubmittingEntity.ToShort(12)</td>
                    <td>@creatDate</td>
                    <td>@updatedDate</td>
                    <td>@submission.SubmissionID</td>
                    <td data-toggle="tooltip" title="@submission.Status">@submission.Status.ToShort(12)</td>
                    <td>
                        @if (!submission.Status.Equals("inactive", StringComparison.OrdinalIgnoreCase))
                    {
                            <input type="checkbox" name="submissionIds" value="@submission.SubmissionID" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}