@{
    ViewBag.Title = "Manage";
}

@*<h2>@ViewBag.Title.</h2>*@

@if (Request.IsAuthenticated)
{
    <h4> Welcome  @ViewBag.Name   !</h4>
    <p>Your Preferred Username: @ViewBag.PreferredUsername</p>
    <p>Your Email Address: @ViewBag.EmailAddress</p>
    @Html.ActionLink("View all apps", "Dashboard")
}