@model WebGallery.ViewModels.AppOwnersViewModel

@{
    ViewBag.Title = "Owners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2>@Resources.AppOwners.AppOwnersTitle</h2>
    <p>@Resources.AppOwners.AppOwnersIntroMsg</p>
    <div class="owners-table-panel">
        <table cellpadding="0" cellspacing="0">
            <caption>@Model.Submission.Nickname - @Model.Submission.Version</caption>
            <thead>
                <tr>
                    <th>@Resources.AppOwners.OwnerNameLabel</th>
                    <th>@Resources.AppOwners.OwnerStatusLabel</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var index = 0; index < Model.Owners.Count; index++)
                {
                    var owner = Model.Owners[index];

                    <tr>
                        <td>@Html.RouteLink(owner.FullName, SiteRouteNames.Profile_View, new { submitterId = owner.SubmitterID })</td>
                        <td>@Resources.AppOwners.OwnerStatus_Active</td>
                        <td>
                            @if (Model.Owners.Count > 1)
                            {
                                using (Html.BeginRouteForm(SiteRouteNames.App_Owners_Remove,
                                    new { submissionId = Model.Submission.SubmissionID, submitterId = owner.SubmitterID },
                                    FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" value="@Resources.AppOwners.OwnerRemoveButtonText" title="Remove this owner." />
                                }
                            }
                        </td>
                    </tr>
                }

                @for (var index = 0; index < Model.OwnershipInvitations.Count; index++)
                {
                    var invitaion = Model.OwnershipInvitations[index];

                    <tr>
                        <td>@invitaion.FirstName @invitaion.LastName</td>
                        <td>@(invitaion.IsExpired ? Resources.AppOwners.OwnerStatus_Expired : Resources.AppOwners.OwnerStatus_Pending)</td>
                        <td>
                            @using (Html.BeginRouteForm(SiteRouteNames.Invitation_Revoke, new { invitationGuid = invitaion.RequestID }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Revoke" title="Revoke this ownership invitation." />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="links-panel">
        @Html.RouteLink("Create a new invitation", SiteRouteNames.App_Owners_Invite, new { submissionId = Model.Submission.SubmissionID })
    </div>
</div>

@section Styles {
    @Styles.Render("~/css/app-owners")
}