@using WebGallery.Extensions;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Windows Web App Gallery - @ViewBag.Title</title>
    @Styles.Render("~/Content/site")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "bccdb41c-d62b-4d36-aaa9-e0de37878af2"
        });

        function consentToUseCookie() {
            $.cookie("consentedToUseCookie", "YES", { expires: 365, path: '/' });
            $(".notification-bar").slideUp("slow");

            // After users consent to use of cookies, we enable AI to track page view.
            window.appInsights = appInsights;
            appInsights.trackPageView();
        }
    </script>
</head>
<body>
    <div class="notification-bar" style="display:none">
        <div class="container">
            <p>Cookies are enabled on this site. For details see privacy and cookies <a href="https://privacy.microsoft.com/en-us/privacystatement" target="_blank">https://privacy.microsoft.com/en-us/privacystatement</a>.</p>
            <p>By continuing to use this site you agree to our use of cookies.</p>
            <button onclick="consentToUseCookie(this);">I Understand</button>
        </div>
    </div>
    <header class="webgallery-header">
        <div class="container">
            <div class="panel-site-logo">
                <h1>Windows Web App Gallery</h1>
            </div>
            <div class="panel-search-box">
                @using (Html.BeginRouteForm(SiteRouteNames.Gallery))
                {
                    <div class="search-box">
                        @Html.TextBox("keyword", "", new { placeholder = "Search Apps" })
                        <input type="submit" value="" />
                    </div>
                }
            </div>
        </div>
    </header>

    <nav class="navbar navbar-inverse webgallery-nav">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>@Html.RouteLink("Home", SiteRouteNames.Home)</li>
                <li>@Html.RouteLink("Gallery", SiteRouteNames.Gallery)</li>
                <li>@Html.RouteLink("Get Started", SiteRouteNames.Docs)</li>
                <li>@Html.RouteLink("Report an issue", SiteRouteNames.Issue_Report)</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <main class="container">
        @RenderBody()
    </main>

    <footer class="container">
        <hr />
        <div>
            <span class="language-selector">
                <img src="~/Content/images/globe.PNG" />
                @using (Html.BeginRouteForm(SiteRouteNames.Language_Select, new { returnUrl = Request.Url }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.DropDownList("languageCode", new SelectList(ViewContext.View.GetLanguageCodes(), "Key", "Value", UICulture), new { onchange = "this.form.submit()" })
                }
            </span>
            <ul>
                <li><a href="http://support.microsoft.com/contactus/">Contact us</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=521839">Privacy &amp; cookies</a></li>
                <li><a href="http://go.microsoft.com/fwlink/?LinkID=206977">Terms of use</a></li>
                <li><a href="https://www.microsoft.com/trademarks">Trademarks</a></li>
                <li>© @DateTime.Now.Year Microsoft</li>
            </ul>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerycookie")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        function enableApplicationInsightsIfUserConsentedToUseOfCookies() {
            if ($.cookie("consentedToUseCookie")) {
                // if users consented to use of cookies,
                // 1. hide the notification bar;
                // 2. enable AI script to track page view;
                $(".notification-bar").hide();
                window.appInsights = appInsights;
                appInsights.trackPageView();
            }
            else {
                // if users didn't consent to use of cookies (visit the site for the first time, or the "consentedToUseCookie" cookies is expired),
                // 1. show the notification bar;
                // 2. remove AI cookies: ai_session, ai_user
                $(".notification-bar").show();
                $.removeCookie("ai_session");
                $.removeCookie("ai_user");
            }
        }

        $(document).ready(function () {
            enableApplicationInsightsIfUserConsentedToUseOfCookies();
        });
    </script>
</body>
</html>